<!DOCTYPE html>
<html>
<head>
	<title>second_view</title>
</head>
<body>
	<link href="../css/second_view.css" rel="stylesheet" type="text/css">
	<script src="../vendor/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/second_view.js"></script>
</body>
</html>